---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Supported Countries for VAT Validation',
  description:
    'A comprehensive list of countries supported for VAT number validation. Ensure your business compliance with accurate VAT checks.',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <HeroText title="Countries Supported for VAT Validation" />

  <!-- Country List Table *************** -->
  <section class="max-w-5xl mx-auto my-12">
    <!--<h2 class="text-3xl font-bold mb-8">List of Supported Countries</h2>-->
    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
        <tr>
          <th class="border border-gray-300 p-2 text-left bg-gray-100">Country</th>
          <th class="border border-gray-300 p-2 text-left bg-gray-100">DB validation</th>
          <th class="border border-gray-300 p-2 text-left bg-gray-100">Syntax Validation</th>
          <th class="border border-gray-300 p-2 text-left bg-gray-100">IDs supported</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/australia/abn">Australia</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">ABN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/new-zealand/nzbn">New Zealand</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">NZBN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/austria/uidnummer">Austria</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">UID</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/belarus/unp">Belarus</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">UNP</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/belgium/btwnummer">Belgium</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">BTW Nummer</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/bulgaria/ddsnomer">Bulgaria</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">DDS Nomer</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/cyprus/vatid">Cyprus</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VAT ID</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/czech-republic/dic">Czech Republic</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">DIC</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/denmark/cvr">Denmark</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">CVR</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/estonia/kmkr">Estonia</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">KMKR</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/finland/alv">Finland</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">ALV</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/france/siren">France</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">SIREN, SIRET, TVA</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/germany/ustidnr">Germany</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">USt-IdNr</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/greece/vat">Greece</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VAT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/hungary/adoszam">Hungary</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">Adoszam</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="">Hong Kong</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">BRN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/india/gstin">India</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">GSTIN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/ireland/vatid">Ireland</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VAT ID</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/italy/partitaiva">Italy</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">Partita IVA</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/latvia/pvn">Latvia</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">PVN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/lithuania/pvm">Lithuania</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">PVM</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/luxembourg/tva">Luxembourg</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">TVA</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/malta/vat">Malta</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VAT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/netherlands/btwnummer">Netherlands</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">BTW Nummer</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/norway/mva">Norway</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">Organisasjonsnummer</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/poland/nip">Poland</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">NIP</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/portugal/nif">Portugal</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">NIF</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/romania/tva">Romania</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">TVA</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="">Saudi Arabia</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">National ID</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/slovakia/icdph">Slovakia</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">IČ DPH</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/spain/nif">Spain</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">NIF</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/sweden/moms">Sweden</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">MOMS</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/switzerland/uid">Switzerland</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">UID</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/taiwan/ubn">Taiwan</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">UBN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="">Thailand</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">TIN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/united-kingdom/vatid">United Kingdom</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VAT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/canada/buisness-number">Canada</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">Business Number(Federal corpporation, Foreign entities)</td>
        </tr>

        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/bahrain/tin">Bahrain</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">TIN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/chile/rut">Chile</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">RUT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/colombia/nit">Colombia</a></td>
          <td class="border border-gray-300 p-2">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">NIT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/mexico/rfc">Mexico</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">RFC</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/indonesia/npwp">Indonesia</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">NPWP</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/singapore/uen">Singapore</a></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">GST, UEN</td>
        </tr>

        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/vietnam/mst">Vietnam</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">MST</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/albania/nipt">Albania</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">NIPT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Kenya</td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2"></td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/moldova/vat">Moldova</a></td>
          <td class="border border-gray-300 p-2">Coming Soon</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VAT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/russia/inn">Russia</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">INN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/serbia/pib">Serbia</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">PIB</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2"><a href="/validate/turkey/vkn">Turkey</a></td>
          <td class="border border-gray-300 p-2"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VKN</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">United States</td>
          <td class="border border-gray-300 p-2 text-green-600"></td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">EIN, Texas Taxpayer ID</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Brazil</td>
          <td class="border border-gray-300 p-2">Coming soon</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">CNPJ</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Mauritius</td>
          <td class="border border-gray-300 p-2">Coming soon</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">VAT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Ecuador</td>
          <td class="border border-gray-300 p-2">Coming soon</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">RUC</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Bahamas</td>
          <td class="border border-gray-300 p-2">Coming soon</td>
          <td class="border border-gray-300 p-2">Coming soon</td>
          <td class="border border-gray-300 p-2">VAT</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Japan</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2 text-green-600">✅</td>
          <td class="border border-gray-300 p-2">Corporate Number</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Additional Information (optional) -->
  <CallToAction
    title="Ready to automate Tax ID validation?"
    subtitle="Signup with a free trial to validate tax IDs in 100+ countries"
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: 'https://platform.lookuptax.com/auth?page=register',
      },
    ]}
  />
</Layout>
